body{
  font-size:14px;
}
h1{
  font-weight:bold;
  line-height:1.2;
}
h2{
  font-size:40px;
  line-height:46px;
}
h3{
  font-size:23px;
  line-height:30px;
}
h4{
  font-size:18px;
}


.wrapper{
  width:100%;
  position:relative;
}
.inner-wrapper{
  margin:0 auto;
  position: relative;
  width:90%;
  max-width:980px;
}
.header .inner-wrapper{
  width:100%;
  padding:0 5%;
}
.slider{
  position:relative;
  background-image:url("/images/slider-bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(10,124,62,0.5);
}

.info-box-wrapper{
  background-image:url("/images/bubble.png");
  background-position: 22px -137px;
  background-repeat: no-repeat;
  background-size: 87% auto;
}
.info-box:after{
  content:"";
  width:54px;
  height:54px;
  position:absolute;
  left:50%;
  top:4px;
  margin-left:-27px;
  background-image:url("/images/leaves.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.pattern-bg{
  width:100%;
  height:20px;
  position: absolute;
  left:0;
  bottom:0;
}
.wrapper.challenges:after{
  content:"";
  width:100%;
  height:200px;
  position: absolute;
  left:0;
  top:-195px;
  background-color:rgb(10,124,62);
  padding: 90px 20px 40px;
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 67.65%, 1.82% 68.53%, 3.64% 69.80%, 5.45% 71.44%, 7.27% 73.38%, 9.09% 75.59%, 10.91% 77.99%, 12.73% 80.50%, 14.55% 83.07%, 16.36% 85.61%, 18.18% 88.05%, 20.00% 90.31%, 21.82% 92.34%, 23.64% 94.06%, 25.45% 95.44%, 27.27% 96.43%, 29.09% 97.00%, 30.91% 97.13%, 32.73% 96.83%, 34.55% 96.09%, 36.36% 94.95%, 38.18% 93.43%, 40.00% 91.58%, 41.82% 89.46%, 43.64% 87.12%, 45.45% 84.63%, 47.27% 82.07%, 49.09% 79.51%, 50.91% 77.03%, 52.73% 74.70%, 54.55% 72.59%, 56.36% 70.76%, 58.18% 69.26%, 60.00% 68.14%, 61.82% 67.43%, 63.64% 67.15%, 65.45% 67.31%, 67.27% 67.90%, 69.09% 68.91%, 70.91% 70.31%, 72.73% 72.05%, 74.55% 74.09%, 76.36% 76.37%, 78.18% 78.81%, 80.00% 81.36%, 81.82% 83.92%, 83.64% 86.44%, 85.45% 88.83%, 87.27% 91.02%, 89.09% 92.95%, 90.91% 94.57%, 92.73% 95.82%, 94.55% 96.67%, 96.36% 97.09%, 98.18% 97.08%, 100.00% 96.63%);
  -webkit-clip-path: polygon(100% 100%, 0% 100% , 0.00% 67.65%, 1.82% 68.53%, 3.64% 69.80%, 5.45% 71.44%, 7.27% 73.38%, 9.09% 75.59%, 10.91% 77.99%, 12.73% 80.50%, 14.55% 83.07%, 16.36% 85.61%, 18.18% 88.05%, 20.00% 90.31%, 21.82% 92.34%, 23.64% 94.06%, 25.45% 95.44%, 27.27% 96.43%, 29.09% 97.00%, 30.91% 97.13%, 32.73% 96.83%, 34.55% 96.09%, 36.36% 94.95%, 38.18% 93.43%, 40.00% 91.58%, 41.82% 89.46%, 43.64% 87.12%, 45.45% 84.63%, 47.27% 82.07%, 49.09% 79.51%, 50.91% 77.03%, 52.73% 74.70%, 54.55% 72.59%, 56.36% 70.76%, 58.18% 69.26%, 60.00% 68.14%, 61.82% 67.43%, 63.64% 67.15%, 65.45% 67.31%, 67.27% 67.90%, 69.09% 68.91%, 70.91% 70.31%, 72.73% 72.05%, 74.55% 74.09%, 76.36% 76.37%, 78.18% 78.81%, 80.00% 81.36%, 81.82% 83.92%, 83.64% 86.44%, 85.45% 88.83%, 87.27% 91.02%, 89.09% 92.95%, 90.91% 94.57%, 92.73% 95.82%, 94.55% 96.67%, 96.36% 97.09%, 98.18% 97.08%, 100.00% 96.63%);
  z-index:0;
}

.leef-1{
  background:url("/images/patterns/leef-1.png");
  width:100%;
  height:auto;
  display:block;
}

@media (min-width: 768px) {
  body{
    font-size:17px;
  }

}